<div id="comingSoon">
<h1 style="color:aqua;font-weight:bold;font-size:40px;text-align:center">Coming Soon...</h1>
<br/>
<br/>
<p style="text-align:center"><img alt="comingsoon" src="../assets/puc.jpg" class="imgC"></p>
</div>
<style type="text/css">
	.imgC{
		width:250px;
	}
</style>
